{%- if block.settings.logo -%}
  {%- style -%}
    .footer__logo a {
      height: {{ block.settings.desktop_logo_height }}px;
    }
  {%- endstyle -%}
  <div class="footer__logo">
    <a href="{{ routes.root_url }}">
      <img
        src="{{ block.settings.logo | image_url: height: block.settings.desktop_logo_height }}"
        alt="{{ block.settings.logo.alt | default: shop.name }}"
        loading="lazy"
        height="block.settings.desktop_logo_height"
      >
    </a>
  </div>
{%- endif -%}
