{% liquid
  if product.empty?
    assign description = 'home_page.onboarding.product_description' | t
  else
    assign description = product.description
  endif
%}

{%- if is_tab -%}
  {% assign title = 'products.product.description' | t %}
  {%- render 'tab', id: id, title: title, content: description, icon: 'info' -%}
{%- else -%}
  <div class="rte product-single__description">
    <h3>Product Details</h3>
    {{ description }}
  </div>
{%- endif -%}
