<div class="page-width">
  <div class="section-two-image-columns">
    <div class="image-container">
      <div>
        <a target="_blank" href="https://albeliekam.com/collections/saree/"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0652/7074/3285/files/2_7b4696f8-4230-424f-baf3-4f9056eb3de6.png?v=1666940383" alt="Kurta Sharara Sets"></a>
      </div>
      <div>
        <a target="_blank" href="https://albeliekam.com/collections/kurta-set/"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0652/7074/3285/files/1_d3e196e0-b7db-46ab-9f5a-3df74cc02389.png?v=1666940373" alt="Net Saree"></a>
      </div>
    </div>
  </div>
</div>
{%- schema -%}
  {
    "name": "Two Image Columns",
    "settings": []
  }
{%- endschema -%}